body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}




.encart {
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  color : black;
  border: 3px black solid;
  background-color : silver;
  border-radius: 10px;
}


.CategoriesView {
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  color : black;
  border: 3px black solid;
  background-color : fuchsia;
  border-radius: 10px;
}



.AddPostForm {
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  color : black;
  border: 3px red solid;
  background-color : grey;
  border-radius: 10px;
}




.AddCommentForm {
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  color : black;
  border: 3px red solid;
  background-color : grey;
  border-radius: 10px;
}


.post {
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  color : black;
  border: 3px black solid;
  background-color : silver;
  border-radius: 10px;
}


.comment {
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  color : black;
  border: 3px red solid;
  background-color : aqua;
  border-radius: 10px;
}



body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 20px;
  min-width: 1070px;
}

.header {
  font-size: 50px;
  font-weight: 300;
  margin: 10px 0;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
}

.icon-btn {
  background: none;
  border: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.calendar {
  margin-top: 0;
  display: flex;
}

.icon-grid ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-grid {
  flex: 1;
}





.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}



.search-container h3 {
  text-align: center;
}

.postInput {
  width: 40%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
}


.commentInput {
  width: 40%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
}



.commentInputButton {
  width: 20%;
  padding: 5px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
}


.postInputButton {
  width: 20%;
  padding: 5px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
}


.search {
  display: flex;
}

.loading {
  align-self: center;
  margin: 0 auto;
}

.days h3 {
  padding: 50px 0;
}



.li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}



.plus-minus-input {
  align-items: center;

  .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;

    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  .input-group-button {
    .circle {
      border-radius: 50%;
      padding: 0.25em 0.8em;
    }
  }
}








